body{
    margin:0;
    padding:0;
}

/*headの固定部分*/
header{
    /*height:40px;*/
    height:7vh;
    background-color:#0079E8;
    color:#fff;
    font-size:40px;
    font-weight:bold;
    width:100%;
    text-align:center;
    line-height:7vh;
}

#content{
    height:93vh;
    background:#EAF5F9;
    position:relative;
}

.feet_wind_num{
    width:25vw;
    height:4vh;
    background-color:#fff;
    font-size:30px;
    text-align:center;
    line-height:3.5vh;
}

#feet_num{
    position:absolute;
    left:30px;
    top:20px;
}

#wind_speed_num{
    position:absolute;
    right:30px;
    top:20px;
}

#sun{
    display:block;
    color:#F83B3B;
    position:fixed;
    right:40vw;
    top:20vh;
}